<ion-view >
<ion-pane>
      
      <ion-content scroll="true" >
        <ion-scroll
    direction="xy"
    zooming="true"
    min-zoom="1.0"
    max-zoom="2.5"
    overflow-scroll="false"
    has-bouncing="false"
    > 
        <div class="container">
      
          <div class="main clearfix">
            <div class="bb-custom-wrapper">
              
              <div id="bb-bookblock" class="bb-bookblock" ng-style="hgt" on-swipe-right="swipRight()" on-swipe-left="warn()">
               
              </div>
              <div class="list list-inset">
                <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="number" placeholder="Enter Page No" ng-change="showPage()" ng-model="myValue.page">
                </label>
              </div>
            </div>

          </div>

      </div><!-- /container -->
  </ion-scroll>
</ion-content>
    </ion-pane>
   

</ion-view>