<ion-view view-title="Playlist">
	<div class="">
		<img src="img/header.jpg" style="width: 100%!important">
	</div>
	<ion-content class="padding content-area" >

		<div class="list">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
		</div>
		<div class="padding">
			<button style="background-color: #0265b3!important" class="button button-block button-positive activated" ng-click="login()">Submit</button>
		</div>
	</ion-content>
</ion-view>