<div class="page content"> 
	
	<br><br>
	<h2><span class="chapter-num">1.</span> Introduction</h2>
	
	<div class="chapter">
		<p>
			Flip Book is a graphic component, thought and designed for Ionic Framework. </p><p>
			Programming language is JavaScript, powered by <i>AngularJS</i> framework. AngularJS include a JavaScript
			Lite version, but it's designed to untie programmer from DOM manipulation and MVC structuring.
		</p>
		<p>
			Flip Book primary function is to be an information slideshow (text, images, everything is representable in HTML code) 
			in a graceful book style. <br>
			It improves the Ionic marketplace plugin collection.
		</p>
	</div>
</div>